<div class="topnav" id="myTopnav">

  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Books</a>
  <a routerLink="/login" class="split">Login</a>
  <div class="dropdown">
    <button class="dropbtn">Cart
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Power:The 48 laws of power</a>
      <a href="#">Haunting Adeline</a>
      <a href="#">1984</a>
    </div>
  </div>
  <a href="#"><i class="fa fa-fw fa-user"></i> Author</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

